/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
HBox {
	-fx-background-color:lightgray;
	-fx-alignment: center;
}

Button {
	-fx-padding: 20px;
	-fx-background-insets: 10px;
}
